<h1>TOP</h1>

<%= link_to "<i class='fa-solid fa-hand-holding-heart'></i>Quiz".html_safe, quiz_path, class: "nav-item nav-link"
<div class="btn-wrapper">
  <div class="row">
   <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
  </div>
  <div class="row">
   <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign up</a>
  </div>
</div>
