<div class="row">
  <div class="col-md-4 offset-md-4">
    <h1>Console</h1>
    <%= link_to "users", admin_users_path, class: "btn btn-primary btn-block p-3 my-3 h1" %>
    <%= link_to "comments", admin_comments_path, class: "btn btn-primary btn-block p-3 my-3 h1" %>
    <%= link_to "questions", admin_questions_path, class: "btn btn-primary btn-block p-3 my-3 h1" %>
  </div>
</div>

