<ul class="navbar navbar-light bg-light">
  <%= render 'searches/form' %>
  <%= link_to "<i class='fa-regular fa-pen-to-square'></i>New post".html_safe, new_post_path, class: "btn btn-primary" %>
</ul>

<h1>Posts</h1>
<%= render 'posts/posts', posts: @posts %>



